# ================================================================================
# error handling
# ================================================================================

set -eu

trap 'exit 100' ERR
trap 'exit 100' SIGXCPU


# ================================================================================
# environment
# ================================================================================

export LC_ALL=C

echo "# SGE_CLUSTER_NAME=${SGE_CLUSTER_NAME}" >&2
echo "# SGE_JOB_SPOOL_DIR=${SGE_JOB_SPOOL_DIR}" >&2

