#!/bin/bash
#$ -N {{ script_name }}
#$ -S /bin/bash
#$ -wd {{ root }}
#$ -j y
#$ -o {{ root }}/02-merge/logs
#$ -pe def_slot 1
#$ -l s_vmem=12G,mem_req=12G
#$ -soft -l sjob
#$ -hold_jid gpcgr_joint-p4007_4kjpn_alt_XY_PAR2_r3_v3-s51-joint_genotyping-all.sh

# ================================================================================
# error handling
# ================================================================================

set -eu

trap 'exit 100' ERR
trap 'exit 100' SIGXCPU


# ================================================================================
# environment
# ================================================================================

export LC_ALL=C

echo "# SGE_CLUSTER_NAME=${SGE_CLUSTER_NAME}" >&2
echo "# SGE_JOB_SPOOL_DIR=${SGE_JOB_SPOOL_DIR}" >&2


# ================================================================================
# meta
# ================================================================================

# gpc-gr:meta:output = {{ output }}
# gpc-gr:meta:output = {{ output }}.tbi


# ================================================================================
# module
# ================================================================================

export MODULEPATH={{ module_path }}
module load bcftools/1.6


# ================================================================================
# job
# ================================================================================

cd {{ root }}

/u4/share1/home/gpc-gr/panel-build37/work/12-joint/scripts/p02-check_chunk_concordance.py {{ chunk_root }}\
    > {{ output }}

